@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
body {
  background-color: rgb(0, 0, 0);
  min-height: max-content;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  
}
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 120px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 50px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}


/*Navigation*/
#navigation ul {
  z-index:100;
  position: fixed;
  padding: 15;
  margin: 0;
  bottom:0%;
  right:48%;
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  
}

/*First circle (Home button) */
#home_circle {
  margin-bottom: 10px;

}





/*Particle JS*/
#particles-js {
    position: absolute;
    top:0%;
    height:100vh; 
    width:100%;
    opacity: 0.9;
    background-image: url("Background.jpeg");
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat;  */
    filter: brightness(0.4);
    
}

nav {
  position: fixed;
  z-index: 100;
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.logo {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}

nav .nav-links ul {
  display: flex;
  flex-direction: row;
  
}

nav .nav-links ul li {
  padding: 0 4px;
  list-style: none;
}

nav .nav-links ul li img {
  transform: scale(0.45);
  right: 5%;
  
}


/*First background*/



/* Student name */
.text h1 {
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 80px;
color: white;
letter-spacing: 5px;
position: absolute;
top: 20%;
left: 50%;
transform: translate(-50%,-50%);

}
.text h2 {
font-family: 'Yanone Kaffeesatz', sans-serif;
display: inline-block;
white-space: nowrap;
font-size: 80px;
color: white;
position: absolute;
top: 35%;
left: 49.5%;
transform: translate(-50%,-50%);

}
.text h3 {
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 60px;
color: white;
letter-spacing: 10px;
position: absolute;
top: 58%;
left: 50%;
transform: translate(-50%,-50%);

}


/*Button to take part in the quiz */
#main .cta{
font-family: 'Yanone Kaffeesatz', sans-serif;
display: inline-block;
padding: 10px 15px;
color: rgb(250, 250, 250);
background-color: transparent;
border: 3px solid white;
border-radius: 15px;
font-size: 50px;
letter-spacing: .1rem;
margin-top:30px;
transition: .3s ease;
transition-property: background-color, color;
position: absolute;
top: 75%;
left: 50%;
transform: translate(-50%,-50%);
text-decoration: none;
display: inline-block;
white-space: nowrap;

}

/* Hover over the button */
#main .cta:hover{
color: white;
opacity: 0.2;

}

/* Media for profile completed */

@media screen and (max-width: 500px) {

.text h3{
  font-size:8vw;
  display: inline-block;
  white-space: nowrap;

}
.text h2{
  font-size:10vw;
  display: inline-block;
  white-space: nowrap;
}
.text h1{
  font-size:15vw;
  top:15vh;
  display: inline-block;
  white-space: nowrap;
  
}

 


}

/* .text h4{
    font-size:8vw;
    display: inline-block;
    white-space: nowrap;
  }
  .text h4 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 60px;
  color: white;
  letter-spacing: 10px;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%,-50%);

}
*/